/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page {
  background-image: var(--bg-page-img);
  background-color: var(--bg-color, #000028);
}

.rec {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color, #ff0070);
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu-button {
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  .rec {
    top: 20px;
    right: 30px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    color: var(--accent-color, #ff0070);
  }
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.title,
.hero__title {
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}

.text-section__title {
  color: var(--accent-color, #ff0070);
}

.text-section__description {
  color: var(--text-color, #f1b2ce);
}

.description__link {
  text-shadow: 2px 1px 0px var(--accent-color);
}

.title,
.footer__title {
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

:root.theme-dark {

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  .page {
    background-image: var(--bg-page-img);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--bg-color, #000028);
  }

  .rec {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
    color: var(--accent-color, #ff0070);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #ff007066;
  }

  @media (min-width: 768px) {
    .rec {
      position: absolute;
      top: 20px;
      right: 30px;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 25px;
      text-align: center;
      color: var(--accent-color, #ff0070);
    }
  }

  .rec::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: var(--accent-color, #ff0070);
    box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--accent-color, #ff0070);
    border-right: 1px solid var(--accent-color, #ff0070);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--accent-color, #ff0070);
    border-left: 1px solid var(--accent-color, #ff0070);
  }

  .title,
  .hero__title {
    color: var(--title-color, #db00ff);
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }

  .title-decor {
    background-color: var(--accent-color, #ff0070);
    color: var(--subtitle-color, #000028);
  }

  .text-section__title {
    color: var(--accent-color, #ff0070);
  }

  .text-section__description {
    color: var(--text-color, #f1b2ce);
  }

  .description__link {
    text-shadow: 2px 1px 0px var(--accent-color);
  }

  .title,
  .footer__title {
    color: var(--title-color, #db00ff);
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }
}