/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



:root.theme-light {
  --bg-page-img: url('../images/cover-image-light.png');
  --bg-color: pink;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --border-color: #353430;

  .rec {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color, #353430);
    border-color: var(--text-color, #353430);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid #32312D66;
  }

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-page-img: url('../images/cover-image-light.png');
    --bg-color: pink;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --border-color: #353430;

    .rec {
      display: none;
    }

    .header__theme-menu-button {
      color: var(--text-color, #353430);
      border-color: var(--text-color, #353430);
    }

    .header__theme-menu-button:hover {
      outline: 1px solid #32312D66;
    }
  }
}