.page {
  inline-size: 100%;
  padding: 0 10px;
  background-image: var(--bg-page-img);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: IBM Plex Mono, monospace;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: start;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  inline-size: 70px;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  height: 100%;
  padding-block-start: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--border-color);
}

.title,
.hero__title {
  font-family: inherit;
  align-self: center;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.title-decor-regular {
  font-weight: 400;
}

.hero__description {
  text-align: left;
}

.hero__description-wrapper {
  padding-bottom: 10px;
  grid-column: 1;
  justify-self: end;
  align-self: center;
}

.hero__description-line {
  display: block;
}

.content {
  display: grid;
  gap: 50px;
  margin-block-end: 39px;
}

.text-section {
  display: grid;
  gap: 20px;
}

.text-section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--border-color);
}

.card .text-section__subtitle {
  margin-block-end: 10px;
}

.optional-margin {
  margin-block-end: 20px;
}

.section__content__list {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  height: 100%;
}

.text-section__small-heading {
  margin-block-end: 10px;
}

.text-section__description {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-block-start: 10px;
}

.description__link {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.description__link:hover {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.description__link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.text-section__description:last-of-type {
  margin-bottom: 0;
}

.section-causes .text-section__title {
  margin-block-end: 0px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  justify-content: center;
  align-content: center;
}

.title,
.footer__title {
  font-family: inherit;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    min-block-size: 1024px;
    grid-template-columns: 1fr 1fr;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .rec {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    padding-top: 10px;
    grid-column: 2;
  }

  .hero__title-wrapper {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: start;
  }

  .title,
  .hero__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .hero__description-wrapper {
    padding-bottom: 20px;
    grid-column: 2;
    grid-row: 3;
  }

  .content {
    gap: 60px;
  }

  .optional-grid {
    display: block;
    margin-block-end: 20px;
  }

  .text-section {
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: min-content;
    align-items: start;
  }

  .text-section__title {
    inline-size: 236px;
    margin-block-end: 20px;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .section-causes .text-section__title {
    margin-block-end: 20px;
  }

  .text-section__subtitle {
    grid-column: 2;
    grid-row: 1;
  }

  .text-section__content {
    grid-column: 2;
    grid-row: 1;
    margin-block-start: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .gallery__title {
    grid-area: title;
  }

  .sunset {
    grid-area: sunset;
  }

  .books {
    grid-area: books;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }

  .footer {
    margin-top: 58px;
    min-block-size: 1024px;
  }

  .footer__title {
    margin-left: 1px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .text-section {
    grid-template-columns: 1fr 2.06fr;
  }

  .text-section__title {
    inline-size: auto;
  }

  .optional-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    align-items: start;
  }

  .optional-grid .text-section__title {
    grid-column: 1;
    grid-row: 1;
    margin-block-end: 20px;
  }

  .optional-grid .text-section__subtitle {
    margin-block-end: 0px;
  }

  .optional-grid .text-section__content {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .section__content__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__content__list-item {
    margin: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .text-section__subtitle {
    margin-block-end: 10px;
  }

  .section-advices .text-section__subtitle {
    margin-block-end: 20px;
  }

  .text-section__description {
    flex-grow: 1;
  }

  .footer {
    margin-top: 60px;
    min-block-size: 100vh;
  }
}