:root {
  --bg-page-img: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --border-color: #ff0070;
  --hover-color: #ff007066;
}